@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto AV1 - Técnicas de Programação</h1>
    <br>
    <p>"O sucesso é ir de fracasso em fracasso sem perder o entusíasmo"</p>
    <div class="img-container" >
    <img src="https://institutoloureiro.com.br/wp-content/uploads/2017/07/Rocky.jpg"style="width: 570px; height: 405px;">
    </div>
</div>
